<mat-toolbar color="primary">
  <img src="../assets/images/Testia-full.png" alt="logo Testia" height="50">
</mat-toolbar>

<div class="button-container">
  <input #imgInput hidden="true" type="file" (change)="importImg($event.target.files)"
            accept="image/png, image/jpeg" />
  <button mat-fab color="primary" aria-label="The import button"
          (click)="imgInput.click()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-fab color="primary" aria-label="The draw button"
          (click)="draw()" [disabled]="!imgLoad">
    <mat-icon>create</mat-icon>
  </button>
  <button mat-fab color="primary" aria-label="The zoom/zoom out button"
          (click)="toggleZoom()" [disabled]="!imgLoad">
    <mat-icon *ngIf="!isZoom">zoom_in</mat-icon>
    <mat-icon *ngIf="isZoom">zoom_out</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>

<canvas #canvas>Canvas not supported</canvas>
